@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>Your Mirror Link is:</h2>
        <p><a href="/Mirror/Game/c13bbc-411276839">Mirror Game</a></p>

        <h2>Your Password is</h2>
        <p>14b9130e</p>
    </div>
